<nav class="navbar-container">
    <nav class="navbar bg-warning navbar-container-son">
      <ul class="navbar-nav d-flex flex-row justify-content-between align-items-center w-100 ms-3">
        <li class="nav-item flex-grow-1">
          <a class="nav-link" routerLink="/">
            <img width="100" height="70" src="/icons8-bookstore-66.png" alt="Trang chủ">
          </a>
        </li>
        <li class="nav-item flex-grow-1 mx-2">
        <div class="position-relative search-box">
          <input type="text" class="form-control search-input p-2.5" placeholder="Tìm kiếm sách..." [(ngModel)]="txtSearch"
            (input)="onSearch()" autocomplete="off" />
        
          <ul class="list-group search-suggest" *ngIf="titles.length">
            <li class="list-group-item list-group-item-action"
                (click) ="txtSearch = title"
            *ngFor="let title of titles">
              {{ title }}
            </li>
          </ul>
        </div>

        </li>

        <li class="nav-item">
          <div class="dropdown notification-dropdown">
  <button
    class="btn btn-warning position-relative  notification-btn"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <span class="d-flex flex-column align-items-center">
      <i class="fa-solid fa-bell">
    
      </i>
    
      <span class="fs-6">Thông báo</span>
    </span>
   

    <!-- Badge: chỉ hiện khi có thông báo -->
    <span
      class="badge bg-danger notification-badge"
      *ngIf="notifications.length > 0"
    >
      {{ notifications.length }}
    </span>
  </button>

  <ul class="dropdown-menu dropdown-menu-end notification-menu">

    <!-- Header -->
    <li class="dropdown-header fw-bold">
      Thông báo
    </li>

    <!-- ================== CÓ THÔNG BÁO ================== -->
    <ng-container *ngIf="notifications.length > 0; else emptyNotify">
      <li
        *ngFor="let notify of notifications"
      >
        <a class="dropdown-item notification-item" href="#">
          <i
            class="fa-solid"
          
          ></i>

          <div class="flex-grow-1">
            <div class="fw-semibold">
              <!-- {{ notify.title }} -->
            </div>
            <small class="text-muted">
              <!-- {{ notify.content }} -->
            </small>
          </div>

          <small class="text-muted">
            <!-- {{ notify.time }} -->
          </small>
        </a>
      </li>

      <li><hr class="dropdown-divider"></li>

      <li class="text-center">
        <a href="#" class="dropdown-item text-primary">
          Xem tất cả
        </a>
      </li>
    </ng-container>

    <!-- ================== KHÔNG CÓ THÔNG BÁO ================== -->
    <ng-template #emptyNotify>
      <li class="text-center text-muted p-4">
        <i class="fa-regular fa-bell-slash fs-4 mb-2"></i>
        <div>Không có thông báo</div>
      </li>
    </ng-template>

  </ul>
</div>

        </li>

        <li class="nav-item">
          <button type="button" class="btn btn-warning" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
            <span class="d-flex flex-column align-items-center gap-1">
            <i class="fa-solid fa-cart-shopping"></i>
            <span>
              Giỏ hàng
            </span>
            </span>
          
          </button>

           <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Giỏ hàng</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <div *ngIf="isAuthenticated">
              <ul *ngFor="let item of cart?.cartItems; let i = index" class="list-unstyled">
                <li class="row mb-4 d-flex justify-content-between align-items-center">
                  <hr class="my-4">
                  <div class="col-md-2 col-lg-2 col-xl-2">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img5.webp" class="img-fluid rounded-3" alt="Cotton T-shirt">
                  </div>
                  <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted"> {{ item.title }}</h6>
                        <!-- <h6 class="mb-0">Cotton T-shirt</h6> -->
                      </div>

                  <div class="col-md-3 col-lg-3 col-xl-3 d-flex">
                            <input id="quantity" title="quantity" min="0" name="quantity" [(ngModel)]="item.quantity" (ngModelChange)="updateTotal(item)" type="number" class="form-control">
                      </div>

                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1 ms-2">
                        <h6 class="mb-0">{{ item.price | currency: 'VND' }}</h6>
                      </div>
                  
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a title="deleteItem" href="#!" class="text-muted"><i class="fa fa-times" aria-hidden="true"></i></a>
                      </div>
                </li>
              </ul>
              <p class="float-end">Tổng tiền: {{total | currency: 'VND'}} </p>
            </div> 
            <!-- <p *ngIf="!isUser()">Vui lòng đăng nhập</p> -->
            <div *ngIf="!isUser()" class="login-box text-center">
              <i class="fa-solid fa-circle-user mb-2"></i>
              <p class="mb-2">Bạn cần đăng nhập để sử dụng chức năng này</p>
              <button class="btn btn-outline-primary btn-sm">
                Đăng nhập
              </button>
            </div>

          </div>
        </div>
        </li>


        <li class="nav-item">
          <img *ngIf="isUser()" src="/icons8-avatar-48.png" class="avatar dropdown-toggle"
            alt="ảnh đại diện" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Quản lý tài khoản</a></li>
            <li><a class="dropdown-item" href="#">Cài đặt</a></li>
            <li><a class="dropdown-item" href="#" (click)="logout()">Đăng xuất</a></li>
          </ul>
          
          <a *ngIf="!isUser()" class="nav-link btn btn-warning p-2" routerLink="/auth/login"
          (click) = "isClickFormLogin()"
          >

            <span class="d-flex flex-column align-items-center gap-1">
              <i class="fa-solid fa-user"></i>
              <span>
                Đăng nhập
              </span>
            </span>
         
          </a>
        </li>
      </ul>
    </nav>
  </nav>