 <footer class="row">
      <div class="col-md-4 mt-2">
            <img width="200" height="100" src="/your-own-library-landing-page-template_151150-680.jpg" alt="" srcset="">
            <p>Địa chỉ: 27, Võ Văn Vân, Vĩnh Lộc, TP.HCM</p>
      </div>

      <div class="col-md-8 mt-2">
          <div class="row">
              <div class="col-md-4 mb-3">
                <h5>Dịch vụ</h5>
                <a href="">
                  <p>Điều khoản sử dụng</p>  
                </a>
                <a href="">
                <p>Chính sách bảo mật</p>  
                </a>
                <a href="">
                <p>Giới thiệu NVT BOOK</p>  
                </a>
              </div>
              <div class="col-md-4">
                <h5>Hỗ trợ</h5>
                <a href="">
                  <p>Phương thức vận chuyển</p>
                </a>
                <a href="">
                  <p>Phương thức thanh toán</p>
                </a>
              </div>
              <div class="col-md-4">
                  <h5>Tài khoản của tôi</h5>
                  <a href="">
                    <p>Đăng nhập / Tạo tài khoản mới</p>
                  </a>
                  <a href="">
                    <p>Thay đổi địa chỉ mua hàng</p>
                  </a>
                  <a href="">
                    <p>Lịch sử mua hàng</p>
                  </a>
              </div>
          </div>
      </div>
  </footer>