<h4 class="text-center mt-4">Danh sách tác giả</h4>
<button type="button" class="btn btn-outline-primary float-end" routerLink="create">Thêm tác giả</button>
<div class="table-reponsive">
  <div class="input-group w-auto" style="max-width: 300px;">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon"/>
    <button type="button" class="btn btn-outline-primary" >Tìm</button>
  </div>
  <div class="row mb-3 mt-1">
<!-- 
  <div class="col-md-3">
    <label>Giá từ</label>
    <input type="number" [(ngModel)]="minPrice" class="form-control" (ngModelChange)="handleChange()" placeholder="Tối thiểu">
  </div>

  <div class="col-md-3">
    <label>Đến</label>
    <input type="number" [(ngModel)]="maxPrice" class="form-control" (ngModelChange)="handleChange()" placeholder="Tối đa">
  </div> -->
</div>
  <table class="table align-middle table-striped mb-0 bg-white">
  <thead class="bg-light" class="datatable">
    <tr>
      <th>Mã số</th>
      <th>Họ</th>
      <th>Tên</th>
      <th>Quốc tịch</th>
      <th>Số sách đã viết</th>
      <th>Hành động</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let author of authors">
      <td>
          <p>{{author.authorId}}</p>
      </td>
      <td>
        <p class="fw-normal mb-1">{{author.firstname}}</p>
      </td>
      <td>
        <p>{{author.lastname}}</p>
      </td>
      <td>{{author.country}}</td>
       <td>
          {{author.quantity}}
      </td>
       <td class="">
        <a class="btn btn-warning me-2"><i class="fas fa-edit"></i> Sửa</a>
        <button type="button" class="btn btn-danger"> <i class="fas fa-trash-alt"></i> Xóa</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
<nav class="float-end mt-2" aria-label="...">
  <ul class="pagination mt-3">
  <li class="page-item" [class.disabled]="currentPage === 1">
    <a href="#" class="page-link" (click)="setPage(currentPage - 1); $event.preventDefault()">Previous</a>
  </li>

  <li class="page-item" [class.disabled]="isLastPage">
    <a href="#" class="page-link" (click)="setPage(currentPage + 1); $event.preventDefault()">Next</a>
  </li>
</ul>
</nav>