<h4 class="text-center mt-4">Danh sách hóa đơn của khách hàng</h4>
<div class="table-responsive">
  <div class="input-group w-auto" style="max-width: 300px;">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" [(ngModel)]="txtSearch"/>
    <button type="button" class="btn btn-outline-primary"
      (click)="handleSearch()"
    >Tìm</button>
  </div>
  <table class="mt-1 table table-bordered align-middle table-striped mb-0 bg-white table-hover shadow">
    <thead class="table-light sticky-top text-nowrap datatable">
    <tr>
        <th class="fw-bold">Mã hóa đơn</th>
        <th class="fw-bold">Ngày phát hành</th>
        <th class="fw-bold">Thuế VAT (%)</th>
        <th class="fw-bold">Phí vận chuyển</th>
        <th class="fw-bold">Giảm giá</th>
        <th class="fw-bold">Tổng thanh toán</th>
        <th class="fw-bold">Phương thức thanh toán</th>
        <th class="fw-bold">Trạng thái thanh toán</th>
        <th class="fw-bold">Hành động</th>
    </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let invoice of invoices">
        <td class="fw-normal">{{invoice.invoiceCode}}</td>
            <td class="fw-normal">{{invoice.issueDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td class="fw-normal">{{invoice.vatPercent}}%</td>
            <td class="text-success">{{invoice.shippingFee | currency: 'VND'}}</td>
            <td class="text-success">{{invoice.discountAmount | currency: 'VND'}}</td>
            <td class="text-primary font-weight-bold">{{invoice.totalAmount | currency: 'VND'}}</td>
            <td class="fw-normal">{{invoice.paymentMethod}}</td>

        <td>
          <ng-container *ngIf="editInvoiceId !== invoice.invoiceId; else editMode">
            <div class="status-box p-1" [style.backgroundColor]="getStatusInvoice(invoice.paymentStatus).color">
              <h5>{{ getStatusInvoice(invoice.paymentStatus).label }}</h5>
            </div>
          </ng-container>
          <ng-template #editMode>
            <select [(ngModel)]="editedStatus" class="form-select">
              <option *ngFor="let s of getStatusInvoices()" [value]="s.value"
               [disabled]="!canSelectedStatus(invoice.paymentStatus, s.value)"
              >{{ s.label }}</option>
            </select>
          </ng-template>
        </td>
      
        <td>
            <div class="d-flex">

                <button *ngIf="editInvoiceId === invoice.invoiceId && editedStatus !== originStatus" class="btn btn-success me-2" (click) = "update(invoice.invoiceId)">
                  <i class="fas fa-check"></i>
                </button>
                
                <button *ngIf="editInvoiceId === invoice.invoiceId" class="btn btn-secondary me-2" (click)="cancelEdit()">
                  <i class="fas fa-times"></i>
                </button>

                <button *ngIf="editInvoiceId !== invoice.invoiceId" 
                
                class="btn btn-warning me-2" (click)="startEdit(invoice)">
                  <i class="fas fa-edit"></i>
                </button>
                <button *ngIf="editInvoiceId !== invoice.invoiceId" type="button" class="btn btn-info" [routerLink]="[invoice.invoiceId]"> <i
                        class="fas fa-eye"></i></button>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<nav class="float-end mt-2" aria-label="Pagination">
  <ul class="pagination pagination-modern shadow-sm rounded-pill">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a href="#" class="page-link" (click)="setPage(currentPage - 1); $event.preventDefault()">
        <i class="fa-solid fa-chevron-left"></i>
      </a>
    </li>

    <li class="page-item disabled">
      <span class="page-link px-3 bg-light text-dark border-0">
        Trang {{ currentPage }}
      </span>
    </li>

    <li class="page-item" [class.disabled]="isLastPage">
      <a href="#" class="page-link" (click)="setPage(currentPage + 1); $event.preventDefault()">
        <i class="fa-solid fa-chevron-right"></i>
      </a>
    </li>
  </ul>
</nav>




