<div class="bg-light p-3">
       <hr class="my-4">
       <div class="detail-price">
          <h6>Giá</h6>
  <div class="d-flex gap-2 align-items-center"
       *ngFor="let range of priceRanges">
    <input type="radio" name="price" [value]="range" [(ngModel)]="selectedPrice" 
    (ngModelChange)="selectedPriceChange.emit($event)"
    (change)="handleSort()" title="Giá">

    <p class="mb-0">
      {{ range.label }}
    </p>
  </div>        </div>

        <hr class="my-4">
        <h6>Nhà xuất bản</h6>
        <div class="detai-publish" *ngFor="let publisher of publishers">
            <div class="d-flex gap-2 align-items-center">
                    <input type="radio" name="publisher" [value]="publisher.publisherId" 
                    [(ngModel)]="selectedPublisher" (change)="handleSort()"
                    (ngModelChange)="selectedPublisherChange.emit($event)"
                    id="" title="Nhà xuất bản">
                    <p class="mb-0">{{publisher.name}}</p>
            </div>
        </div>

        <div class="text-end">
            <button class="p-1 btn btn-secondary" (click)="clearFilter()">
              <i class="fa fa-filter-circle-xmark"></i>  Xóa bộ lọc
            </button>
        </div>
</div>