.container-image{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    padding:5px;
    margin-right: 10px;
}

.checked {
    color: orange;
  }

  .input-quantity{
    text-align: center;
    height: 2rem;
  }

.comments {
  max-height: 100px;
  padding-right: 8px;
}

.comments::-webkit-scrollbar {
    width: 6px;
}
.comments::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.btn-custom {
  min-width: 190px;
}
  