<div class="root-container">
    <div class="main-container mt-3 d-flex overflow-hidden">
      <div class="container-image flex-grow-1 ms-3"> 
            <div class="row row-cols-1 row-cols-md-4 g-4 p-4">
              <div class="col">
                <div class="card card-responsive">
                    <img [src]="book?.link" class="img-fluid" 
                    width="300" height="200"
                    alt="...">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text"></p>
                    </div>
                  </div>
          </div>

          <div class="col flex-grow-1">
                <h5>{{title}}</h5>
                <div class="d-flex gap-2">
                    <div>
                        <p>Nhà xuất bản: {{book?.publisherId?.publisherName}}</p>
                        <p>Nhà phát hành: Đệ nhất quốc sư Trần Dần</p>
                    </div>
                
                    <div>
                        <p>Tác giả: {{book?.authorId?.firstname}}  {{book?.authorId?.lastname}}</p>
                        <p>Trạng thái: {{book?.status ? "Còn hàng" : "Hết hàng"}}</p>
                    </div>
                </div>

                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>

                <div>
                    100.000đ
                </div>

                <div class="d-flex gap-2">
                    <span>Số lượng:</span>
                    <input id="quantity"   min="1" name="quantity" [(ngModel)] = "quantity" type="number" placeholder="1"
                    class="input-quantity"
                    />
                </div>


                <div class="d-flex gap-4 mt-5">
                    <button class="btn btn-secondary" (click)="addCartBook(book!)">Thêm vào giỏ hàng</button>
                    <button class="btn btn-warning" (click)="buyBook(book!)">Mua ngay</button>
                </div>
          </div>


      </div>
    </div>
    
    
  </div>

