<h4 class="text-center mt-4">Danh sách đơn hàng của khách hàng</h4>
<!-- <button type="button" class="btn btn-outline-primary float-end" data-bs-toggle="modal" data-bs-target="#myModal">Thêm nhà xuất bản</button> -->
<div class="table-reponsive">
  <div class="input-group w-auto" style="max-width: 300px;">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
      aria-describedby="search-addon" [(ngModel)]="txtSearch"/>
    <button type="button" class="btn btn-outline-primary" (click)="handleSearch()">Tìm</button>
  </div>
  <table class="table align-middle table-striped mb-0 bg-white">
    <thead class="bg-light" class="datatable">
      <tr>
        <th>Mã ĐH</th>
        <th>Tài khoản</th>
        <th>Khách hàng</th>
        <th>Ngày đặt</th>
        <th>Tổng tiền</th>
        <th>Trạng thái</th>
        <th>Thanh toán</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td class="fw-normal mb-1">
          <span><p>{{order.orderId}}</p></span>
        </td>
        <td class="fw-normal mb-1">
          <p>{{order.username}}</p>
        </td>
        <td class="fw-normal mb-1">
          <p>{{order.fullName}}</p>
        </td>
        <td class="fw-normal mb-1">
            <p>{{order.orderDate | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
        </td>

        <td class="fw-normal mb-1">
            <p>{{order.totalAmount | currency: 'VND'}}</p>
        </td>
        <td>
          <ng-container *ngIf="editOrderId !== order.orderId; else editMode">
            <div class="status-box" [style.backgroundColor]="getStatus(order.status).color">
              <h5>{{ getStatus(order.status).label }}</h5>
            </div>
          </ng-container>
          <ng-template #editMode>
            <select [(ngModel)]="editedStatus" class="form-select">
              <option *ngFor="let s of getStatusOrder()" [value]="s.value"
               [disabled]="!canSelectedStatus(order.status, s.value)"
              >{{ s.label }}</option>
            </select>
          </ng-template>
        </td>
        <td class="fw-normal mb-1">
            <p>{{order.methodPay === 'COD' ? 'Tiền mặt': 'Ngân hàng'}}</p>
        </td>
        <td>
            <div class="d-flex">

                <button *ngIf="editOrderId === order.orderId && editedStatus !== originalStatus" class="btn btn-success me-2" (click)="update(order.orderId)">
                  <i class="fas fa-check"></i>
                </button>
                
                <!-- Nút Hủy -->
                <button *ngIf="editOrderId === order.orderId" class="btn btn-secondary me-2" (click)="cancelEdit()">
                  <i class="fas fa-times"></i>
                </button>

                <button *ngIf="editOrderId !== order.orderId" [disabled]="order.status === -1"
                
                class="btn btn-warning me-2" (click)="startEdit(order)">
                  <i class="fas fa-edit"></i>
                </button>
                <button *ngIf="editOrderId !== order.orderId" type="button" class="btn btn-info" [routerLink]="[order.orderId]"> <i
                        class="fas fa-eye"></i></button>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<nav class="float-end mt-2" aria-label="...">
  <ul class="pagination mt-3">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a href="#" class="page-link" (click)="setPage(currentPage - 1); $event.preventDefault()">Previous</a>
    </li>

    <li class="page-item" [class.disabled]="isLastPage">
      <a href="#" class="page-link" (click)="setPage(currentPage + 1); $event.preventDefault()">Next</a>
    </li>
  </ul>

<!-- <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm tác giả</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #createForm ="ngForm" (ngSubmit)="onSubmit(createForm)">
          <label for="firstName">Tên NXB:</label>
          <input class="form-control" placeholder="Nhập tên của NXB...." type="text" name="publisherName" id="publisherName" ngModel/>
          <br>
          <label for="lastName">Địa chỉ NXB:</label>
          <input type="text"  name="publisherAddress" placeholder="Nhập địa chỉ của NXB...." id="publisherAddress" class="form-control" ngModel>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-primary">Thêm</button>
      </div>
    </form> 
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="modal fade" id="updateModal" tabindex="-1"  *ngIf="updatePublisher" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm tác giả</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <label for="publisherName">Họ:</label>
          <input class="form-control" placeholder="Nhập tên của NXB..." type="text" name="publisherName" id="publisherName" [(ngModel)]="updatePublisher.publisherName"/>
          <br>
          <label for="publisherAddress">Tên:</label>
          <input type="text" name="publisherAddress" placeholder="Nhập địa chỉ của NXB...." id="publisherAddress" class="form-control"  [(ngModel)]="updatePublisher.publisherAddress">
      </div> 
      <div class="modal-footer">
        <button type="button" #closeBtn class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="update()">Lưu</button>
      </div>
    </div>
  </div>
</div> -->
</nav>

