
<form (ngSubmit)="onSubmitRegister(myForm)" class="form row g-3" #myForm="ngForm" [ngStyle]="{'margin-top': isRegisterMode ? '200px' : '100px'}">
  <div class="form-group" *ngIf="!isRegisterMode">
    <label for="registerUsername">Tên tài khoản</label>
    <input
      type="text"
      class="form-control"
      placeholder="Nhập tên tài khoản...."
      id="registerUsername"
      name="username"
      ngModel
      required
      #username="ngModel"
    />
    <div class="invalid-feedback" *ngIf="isContinue && username.hasError('required')">
      Vui lòng nhập tên tài khoản.
    </div>
  </div>

  <div class="form-group" *ngIf="!isRegisterMode">
    <label for="registerPassword">Mật khẩu</label>
    <input
      type="password"
      class="form-control"
      id="registerPassword"
      placeholder="Nhập mật khẩu..."
      name="password"
      ngModel
      required
      minlength="1"
      #password="ngModel"
    />
    <div class="invalid-feedback" *ngIf="isContinue && password.hasError('required')">
      Vui lòng nhập mật khẩu.
    </div>
  </div>

  <div class="form-group" *ngIf="!isRegisterMode">
    <label for="registerRePassword">Nhập lại mật khẩu</label>
    <input
      type="password"
      class="form-control"
      id="registerRePassword"
      placeholder="Nhập lại mật khẩu..."
      name="repassword"
      ngModel
      required
      minlength="1"
      #password="ngModel"
    />
    <div class="invalid-feedback" *ngIf="isContinue && password.hasError('required')">
      Vui lòng nhập mật khẩu.
    </div>
  </div>


  <div *ngIf="isRegisterMode">
    <div class="row">
 <div class="col-md-12 col">
      <label for="firstname">Tên</label>
      <input
        type="text"
        class="form-control"
        id="firstname"
        placeholder="Nhập tên..."
        name="firstname"
        ngModel
        required
        #firstname="ngModel"
      />
      <div class="invalid-feedback" *ngIf="firstname.invalid && firstname.touched">
        Vui lòng nhập tên.
      </div>
    </div>

    <div class="col-md-12 col">
      <label for="lastname">Họ</label>
      <input
        type="text"
        class="form-control"
        id="lastname"
        placeholder="Nhập họ..."
        name="lastname"
        ngModel
        required
        #lastname="ngModel"
      />
      <div class="invalid-feedback" *ngIf="lastname.invalid && lastname.touched">
        Vui lòng nhập họ.
      </div>
    </div>

    </div>
    <div class="form-group col-md-12">
      <label for="registerEmail">Email</label>
      <input
        type="email"
        class="form-control"
        id="registerEmail"
        placeholder="Nhập email..."
        name="email"
        ngModel
        required
        #email="ngModel"
      />
      <div class="invalid-feedback" *ngIf="email.invalid && email.touched">
        Vui lòng nhập email hợp lệ.
      </div>
    </div>

    <div class="form-group col-md-12">
      <label for="address">Địa chỉ</label>
      <input
        type="text"
        class="form-control"
        id="address"
        placeholder="Nhập địa chỉ..."
        name="address"
        ngModel
        required
        #address="ngModel"
      />
      <div class="invalid-feedback" *ngIf="address.invalid && address.touched">
        Vui lòng nhập địa chỉ.
      </div>
    </div>

    <div class="form-group col-md-12">
      <label for="phone">Số điện thoại</label>
      <input
        type="tel"
        class="form-control"
        id="phone"
        placeholder="Nhập số điện thoại..."
        name="phone"
        ngModel
        required
        #phone="ngModel"
      />
      <div class="invalid-feedback" *ngIf="phone.invalid && phone.touched">
        Vui lòng nhập số điện thoại.
      </div>
    </div>
  </div>

  <div class="btn-login">
    <button type="submit" *ngIf="!isRegisterMode" (click)="onRegisterMode(myForm)" class="btn btn-primary">Tiếp tục</button>
    <button type="submit" *ngIf="isRegisterMode"  class="btn btn-primary">Đăng ký</button>
  </div>

  <div class="form-group form-check form-option">
    <a class="login-link" (click)="onToggleMode()">Đã có tài khoản? Đăng nhập</a>
  </div>
</form>