<div class="container-fluid full-height">

  <nav>
  <nav class="navbar bg-warning">
  <ul class="navbar-nav d-flex flex-row ms-3">
    <li class="nav-item">
     <a class="nav-link"  routerLink="/">Trang chủ</a> 
    </li>
    <li class="nav-item">
   
    </li>
  </ul>
    <div class="float-end me-3">
      <img *ngIf="authService.isAuthenticated" src="/icons8-avatar-48.png" class="avatar dropdown-toggle" alt="ảnh đại diện" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
     
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Quản lý tài khoản</a></li>
        <li><a class="dropdown-item" href="#">Cài đặt</a></li>
        <li><a class="dropdown-item" (click)="logout()">Đăng xuất</a></li>
      </ul>
      <!-- Show login link if user is not authenticated -->
      <a *ngIf="!authService.isAuthenticated" class="nav-link" routerLink="/auth/login">Đăng nhập</a>
    </div>
  </nav>
  </nav>
  <main class="d-flex" style="height: 100vh;">
    <article class="col-md-9 bg-body-secondary  full-width"> 
      <div class="table-container">
          <router-outlet></router-outlet>
      </div>
      
    </article>
   
  </main>
</div>