<div class="container-fluid full-height">

  <nav>
  <nav class="navbar bg-warning">
  <ul class="navbar-nav d-flex flex-row ms-3">
    <li class="nav-item">
     <a class="nav-link"  routerLink="/">Trang chủ</a> 
    </li>
    <li class="nav-item">
   
    </li>
  </ul>
    <div class="float-end me-3">
      <a class="nav-link"  routerLink="/auth/login">Đăng nhập</a>
    </div>
  </nav>
  </nav>
  <main class="d-flex" style="height: 100vh;">
    <article class="col-md-9 bg-body-secondary  full-width"> 
      <div class="table-container">
          <router-outlet></router-outlet>
      </div>
      
    </article>
   
  </main>
</div>