.container-image{
    width: 720px;
    margin-right: 1rem;
    height: 100vh;
    background-color: #fff;
    padding:5px;
    margin-bottom: 10px;
}

.title-list{
    background-color: #ef8400;
    text-align: center;
    font-size: 1.2rem;
    color:#fff;
    margin:0;
}

li:hover{
    background-color: beige;
    cursor: pointer;
}



.title-new-book{
    margin-top: 10px;
    background-color: rgb(0 92 223);
    color:#fff;
    font-size: 16px;
    padding: 10px;
}


.line-divide{
    border-top: 0.5px solid #807f7f;
}

.group-filter-book{
    margin-top: 5px;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.card-responsive{
    cursor: pointer;
    width: 200px;
}

.card-responsive:hover{
    box-shadow: 5px 5px 5px 5px #8888;
}

.card-body h5,
.card-body p{
    font-size: 13px;
}

.img-fixed{
 width: 100%;
  height: 200px;         /* Ép chiều cao cố định */
  object-fit: cover;     /* Tự co/cắt để vừa khung */
  border-radius: 4px;    /* Cho góc bo đẹp hơn */
}

.min-h-350 {
    min-height: 350px;
}

.min-h-260 {
    min-height: 260px;;
}