.container-image{
    width: 720px;
    height: 330px;
}

.title-list{
    background-color: #ef8b00;
    text-align: center;
    font-size: 1.5rem;
    color:#fff;
    padding: 0.8rem;
    margin:0;
}

li:hover{
    background-color: beige;
    cursor: pointer;
}

.title-new-book{
    margin-top: 10px;
    background-color: rgb(0 92 223);
    color:#fff;
    font-size: 16px;
    padding: 10px;
}

.card-item, .card-sub{
    width: 200px;
    height: auto;
}


.card-sub:hover{
    border-right: 1px solid #939292;
    border-left: 1px solid #939292;
    cursor: pointer;
}