.container-image{
    width: 720px;
    height: 330px;
}

.title-list{
    background-color: #ef8400;
    text-align: center;
    font-size: 1.2rem;
    color:#fff;
    margin:0;
}

li:hover{
    background-color: beige;
    cursor: pointer;
}



.title-new-book{
    margin-top: 10px;
    background-color: rgb(0 92 223);
    color:#fff;
    font-size: 16px;
    padding: 10px;
}

.card-item{
    width: 50px;
    height: 50px;
}



.card-sub:hover{
    border-right: 1px solid #939292;
    border-left: 1px solid #939292;
    cursor: pointer;
}