<div class="root-container">
<div class="main-container mt-3 d-flex">

  <!-- LEFT: Category -->
  <div class="container-list col-3 ms-3 border-2">
    <h2 class="title-list">Danh mục sản phẩm</h2>

    <ul class="list-group list-book">
      <li
        class="list-group-item fs-5"
        *ngFor="let c of categories"
        [routerLink]="['/category', c.categoryId]">
        {{ c.name }}
      </li>
    </ul>
  </div>

  <!-- RIGHT: Image carousel -->
  <div class="container-image col ms-3">
    <div
      id="carouselExampleIndicators"
      class="carousel slide w-100"
      data-bs-ride="carousel">

      <!-- Indicators -->
      <div class="carousel-indicators">
        <button
          *ngFor="let img of images; let i = index"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          [attr.data-bs-slide-to]="i"
          [class.active]="i === 0"
          [attr.aria-current]="i === 0 ? 'true' : null">
        </button>
      </div>

      <!-- Slides -->
      <div class="carousel-inner">
        <div
          *ngFor="let img of images; let i = index"
          class="carousel-item"
          [class.active]="i === 0">

          <img
            [src]="img"
            class="d-block w-100 img-fluid carousel-img"
            alt="Slide {{ i + 1 }}">
        </div>
      </div>

      <button class="carousel-control-prev" type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>

      <button class="carousel-control-next" type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>

</div>


  <h2 class="title-new-book">Các sản phẩm sách bán chạy</h2>
  <div class="container m-sm-0 me-lg-0">
    <div class="d-flex flex-nowrap gap-3  justify-content-start align-items-center">
        <div class="card card-sub" *ngFor="let b of book">
          <div class="card-body" routerLink="/book">  
            <img src="{{b.link}}" width="130" height="200" class="card-img-top" alt="Ảnh">
            <h5 class="card-title text-nowrap">{{b.title}}</h5>
            <p class="card-text">This is a longer card with supporting text</p>
          </div>
        </div>
    </div>
  </div>

  <h2 class="title-new-book">Các sản phẩm sách được đánh giá cao</h2>
  <div class="container m-sm-0 me-lg-0" >
    <div class="d-flex flex-nowrap gap-3  justify-content-start align-items-center">
        <div class="card card-sub" *ngFor="let b of book">
          <div class="card-body" routerLink="/book">  
            <img src="{{b.link}}" width="130" height="200" class="card-img-top" alt="Ảnh">
            <h5 class="card-title text-nowrap">{{b.title}}</h5>
            <p class="card-text">This is a longer card with supporting text</p>
          </div>
        </div>
    </div>
  </div>

</div>