<div class="root-container">
  <div class="main-container mt-5 d-flex overflow-hidden">

    <div class="container-list w-25 ms-3">
      <h3 class="title-list">Danh mục sản phẩm</h3>
      <ul class="list-group btn-group dropend list-book">
        <li class="list-group-item dropdown-toggle list-group-item-action">
          Sách tiểu thuyết
        </li>
        <li class="list-group-item dropdown-toggle list-group-item-action">Sách khoa học viễn tưởng</li>
        <li class="list-group-item dropdown-toggle list-group-item-action">Sách hồi ký</li>
        <li class="list-group-item dropdown-toggle list-group-item-action">Sách huyền bí</li>
        <li class="list-group-item dropdown-toggle list-group-item-action">Sách phi hư cấu</li>
        <li class="list-group-item dropdown-toggle list-group-item-action">Sách kinh tế</li>
        <li class="list-group-item dropdown-toggle list-group-item-action">Sách văn học</li>
        <li class="list-group-item dropdown-toggle list-group-item-action">Sách ngoại ngữ</li>
      </ul>
    </div>

    <div class="container-image flex-grow-1 ms-3">
      <img width="950" height="400" src="/your-own-library-landing-page-template_151150-680.jpg" alt="" srcset="">
    </div>
  </div>

  <h2 class="title-new-book">Sản phẩm mới</h2>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="/icons8-bookstore-66.png" width="130" height="200" class="card-img-top" alt="Ảnh">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/icons8-bookstore-66.png" width="130" height="200" class="card-img-top" alt="Ảnh">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/icons8-bookstore-66.png" width="130" height="200" class="card-img-top" alt="Ảnh">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/icons8-bookstore-66.png" width="130" height="200" class="card-img-top" alt="Ảnh">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text</p>
        </div>
      </div>
    </div>
  </div>
</div>